* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(31, 33, 40, 1);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

path {
  transition: stroke 0.2s ease-in-out;
}

.multi-select-container {
  width: 370px;
  padding: 10px 0;
  box-shadow: 0px 8px 15px 0px rgba(20, 20, 20, 0.12),
    0px 0px 4px 0px rgba(20, 20, 20, 0.1);
  border-radius: 6px;
}
.selectable-container {
  width: 100%;
  padding: 3.5px 15px 3.5px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectable-label {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  line-height: 130%;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}

/*
Checkbox styles:
non-selected,
non-selected:hover,
selectd,
selected:hover
*/

.checkbox {
  width: 23px;
  height: 23px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid rgba(205, 205, 205, 1);
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox:hover[data-selected="false"] {
  border: 1px solid rgba(189, 189, 189, 1);
}

.checkbox:hover[data-selected="false"] svg path {
  stroke: rgba(227, 227, 227, 1);
}

.checkbox[data-selected="true"] svg path {
  stroke: white;
}

.checkbox[data-selected="true"] {
  background: rgba(36, 105, 246, 1);
  border: transparent;
}

.checkbox:hover[data-selected="true"] {
  background-color: rgba(80, 135, 248, 1);
}

hr {
  border: none;
  border-top: 0.7px solid rgba(205, 205, 205, 1);
  width: 340px;
  margin-inline: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit {
  width: 340px;
  background-color: rgba(255, 206, 34, 1);
  transition: 0.2s ease-in-out;
  padding: 11px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  line-height: 130%;
  margin: 10px 15px auto;
}
.submit:hover {
  background-color: rgba(255, 216, 77, 1);
}
